.side-dark {
  height: 100%;
  width: 100% !important;
  max-width: initial !important;
  min-width: initial !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.sidebar-container {
  height: 100%;
  background-color: var(--primary-dark);
}

.sidebar-wrapper {
  height: 100%;
  position: relative;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.sidebar-menu-wrapper {
  height: calc(100% - 295px);
  overflow-y: scroll;
  position: relative;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
  }
  scrollbar-width: none;
}

.menu-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 56px 0;

  &:visited {
    outline: none;
    border: none;
    text-decoration: none;
  }
}

.ant-menu {
  width: 100% !important;
  background: transparent !important;
}

.side-dark .ant-menu-light .ant-menu-submenu-title {
  color: var(--gray-dark) !important;
  padding-left: 13px !important;
}

.side-dark .ant-menu-light .ant-menu-item-selected {
  font-weight: 600 !important;
}

.side-dark .ant-menu-inline .ant-menu-item {
  color: var(--gray-dark) !important;
}

.side-dark .ant-menu-light .ant-menu-item-selected {
  color: var(--white) !important;
}

.ant-menu-light .ant-menu-item:hover {
  background-color: transparent !important;
}

/* hover on menu items */
.side-light
  .ant-menu-light
  .ant-menu-submenu-open
  > .ant-menu-sub
  > .ant-menu-item {
  color: var(--gray-dark) !important;
  border-left: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--eskimoz-color);
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:active {
  background-color: transparent !important;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover {
  background-color: transparent !important;
}

.side-dark .ant-menu-light .ant-menu-submenu-open > .ant-menu-submenu-title {
  color: var(--white) !important;
}

.ant-menu-light .ant-menu-submenu-open > .ant-menu-submenu-title {
  font-weight: 600;
  letter-spacing: -0.4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.ant-menu-light .ant-menu-submenu-open > .ant-menu-sub > .ant-menu-item {
  font-weight: 400;
  border-radius: 0;
  border-left: 1px solid var(--white);
  padding-left: 9% !important;
  margin-block: 0px !important;
  background-color: transparent !important;
}

.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  padding-left: 13% !important;
}

.ant-menu-light .ant-menu-item-selected {
  background-color: transparent !important;
}

/* light */

.side-light {
  height: 100%;
  width: 100% !important;
  max-width: initial !important;
  min-width: initial !important;
  color: var(--primary-dark);
}

.side-light .ant-menu-light .ant-menu-submenu-title {
  padding-left: 13px !important;
}

.side-light
  .ant-menu-light
  .ant-menu-submenu-open
  > .ant-menu-sub
  > .ant-menu-item {
  color: var(--gray-dark) !important;
  border-left: 1px solid;
  border-image-slice: 1;
  border-image-source: var(--eskimoz-color);
}

.side-light
  .ant-menu-light
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  color: var(--primary-dark) !important;
}

.side-light
  .ant-menu-light
  .ant-menu-submenu-open
  > .ant-menu-sub
  > .ant-menu-item-selected
  > .ant-menu-title-content {
  color: var(--primary-dark) !important;
}

.side-light .ant-menu-light .ant-menu-item-selected {
  color: var(--primary-dark) !important;
  font-weight: 600 !important;
}

.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  padding-left: 10% !important;
}

.ant-menu-title-content {
  padding-left: 7% !important;
}

.ant-menu-item {
  padding-left: 13px !important;
}

.ant-menu-light {
  border-inline-end: none !important;
}
